.root {
    -fx-background-color: transparent;
    -fx-padding: 8px, 0px, 8px, 0px;
    -fx-hgap: 8px;
}

.rectangle {
    -fx-fill: transparent;
    -fx-stroke: blueviolet;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.vbox {
    -fx-spacing: 10px;
}

.algorithms-vbox {
    -fx-spacing: 8px;
    -fx-padding: 20px 0px 0px 0px;
}

.label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-font-family: Verdana;
    -fx-font-style: italic;
}

.button {
    -fx-background-color: #9400D3;
    -fx-text-fill: white;
    -fx-font-size: 12px
}

.button:hover {
    -fx-background-color: orange;
}

.check-box {
    -fx-font-family: Verdana;
    -fx-font-size: 11px;
    -fx-font-style: oblique;
    -fx-text-fill: #3a6dcf;
    -fx-font-weight: BOLD;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box:hover {
    -fx-background-color: linear-gradient(to right, YELLOW, ORANGE);
    -fx-border-style: dotted;
    -fx-border-width: 1px;
    -fx-background-radius: 30%;
    -fx-border-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #3a6dcf;
}

.choice-box {
    -fx-background-color: mediumpurple;
    -fx-pref-width: 80px;
}

.choice-box .label {
    -fx-font-family: Consolas;
    -fx-text-fill: white;
    -fx-font-style: normal;
    -fx-font-size: 13px;
}

.choice-box:hover {
    -fx-background-color: orange;
}

.choice-box .menu-item .label {
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.choice-box .menu-item:hover {
    -fx-background-color: orange;
}

.choice-box .context-menu {
    -fx-background-color: wheat;
}